.portfolio .port{
    color: var(--brand-color);
}
.gehen{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(3, 3, 3, 0.3);

}
.gehen  img{
    width: calc(100%);
    height: calc(100%);
    cursor: pointer;
}
.gehen:hover img{
    opacity: 0.15;
}
.gehen .text1{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%,-50%);
    color: #fff;
    display: none;
}
.gehen:hover .text1{
display: block;
}
.gehen .text1 .h1{
    padding: 2rem;
}
.gehen .text1 .text2{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.gehen .text2 span{
    color: var(--brand-color);
}
.gehen .text1 .actionBtn1{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.gehen .text1 .actionBtn1 button{
    padding: 1rem 3rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--brand-color);
    cursor: pointer;
}
.gehen .text1 .actionBtn1 a{
    padding: 1rem 3rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--brand-color);
    cursor: pointer;
}
.gehen .text1 .actionBtn1 button:hover{
    background-color: #333;
    color: #fff;
}
.portfolio{
    border-bottom: 2px solid #000;
}


