
.form1{
    width: 100%;
    background-color: #000;
    border: 2px solid var(--brand-color);
    border-radius: 1rem;
    padding: 5rem 3rem 5rem 3rem;
    box-shadow:  10px 10px 40px rgba(0,0,0,.5),
    -10px -10px 40px rgba(0,0,0,.5);
    position: relative;
}
.footer{
    background-color: var(--brand-color);
    padding: 3rem;
}
